# Maven
target*
dependency-reduced-pom.xml

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# wild test
src/main/java/com/sunday/giraph/WildTest.java

# spark local mode
spark-warehouse/
metastore_db/
derby.log

# other files
.DS_Store
*.swp
